<?xml version="1.0"?>

<launch>
  <arg name="test_type" default="real" />
  
  <include file="$(find battery_cell_configurations)/launch/real_start.launch"/>

  <include file="$(find battery_cell_tests)/can_pick_and_place/launch/load_test_params.launch">
    <arg name="test_type" default="$(arg test_type)" />
  </include>
  <include file="$(find battery_cell_tests)/can_pick_and_place/launch/skills_servers.launch">
    <arg name="test_type" default="$(arg test_type)" />
  </include>

  <include file="$(find battery_cell_tests)/can_pick_and_place/launch/camera_srvs_start.launch"/>

  <include file="$(find skills_util)/launch/bt_server.launch"/>
</launch>
